/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Header styles */
header {
    background-color: #4CAF50; /* Green header background */
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-size: 24px;
}

/* Main container styles for the two sections */
#main-container {
    display: flex;
    height: calc(100% - 50px); /* Adjust height considering the header */
    padding: 20px;
}

/* Upload container styles */
#upload-container {
    flex: 1;
    margin-right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

#upload-container h2 {
    margin-bottom: 20px;
}

/* File input and filter container styles */
#csvUploadForm input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-option {
    margin-bottom: 10px;
}

.filter-option label {
    cursor: pointer;
    padding: 10px;
    background: #f7f7f7;
    display: block;
}

.filter-option input[type="checkbox"] {
    margin-right: 10px;
}

/* Style for form submission button */
#csvUploadForm button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#csvUploadForm button:hover {
    background-color: #45a049;
}

/* Job details section styles */
#jobs-section {
    flex: 3; /* Jobs section takes up twice the space of upload-container */
    padding: 20px;
    overflow-y: auto; /* Scrollable area for jobs */
    background: #f2f2f2; /* Different background for visual separation */
    border-radius: 4px;
}

#jobDetails {
    min-height: 300px; /* Give minimum height for empty state */
}

/* Styles for job entries */
.job-entry {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.job-entry p {
    margin: 5px 0;
    color: #333;
}

.job-entry span {
    font-weight: bold;
}

.job-entry button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.job-entry button:hover {
    background-color: #45a049;
}
.patent-data-container {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.patent-data-container p {
    margin: 10px 0;
    line-height: 1.6;
}

.patent-data-container a {
    color: #007bff;
    text-decoration: none;
}

.patent-data-container a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #main-container {
        flex-direction: column;
    }

    #upload-container, #jobs-section {
        margin-right: 0;
        margin-bottom: 20px; /* Add space between the sections on small screens */
    }
}
