<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Management Interface</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    <div id="logo">NOWLE</div>
</header>
<div id="main-container">
    <aside id="upload-container">
        <p><strong>Choose a file</strong> or drag it here</p>
        <form id="csvUploadForm" enctype="multipart/form-data">
            <input type="file" id="file" name="file" required>
            <div class="filter-container">
                <div class="filter-option">
                    <input type="checkbox" id="applicationNumber" name="fields" value="Application Number">
                    <label for="applicationNumber">Application Number</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="title" name="fields" value="Title">
                    <label for="title">Title</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="publicationDate" name="fields" value="Publication Date">
                    <label for="publicationDate">Publication Date</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="abstract" name="fields" value="Abstract">
                    <label for="abstract">Abstract</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="applicants" name="fields" value="Applicants">
                    <label for="applicants">Applicants</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="inventors" name="fields" value="Inventors">
                    <label for="inventors">Inventors</label>
                </div>
            </div>
            <button type="submit">Create Job</button>
        </form>
    </aside>
    <section id="jobs-section">
        <div id="jobDetails"></div>
    </section>
</div>

<script src="script.js"></script>
</body>
</html>
